body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.img1 {
    background-image: url('photo-1472214103451-9374bd1c798e.jpeg'); 
}

.img2 {
    background-image: url('photo-1506744038136-46273834b3fb.jpeg');
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.text-block {
    color: #ddd;
    background-color: #000; 
    text-align: center;
    padding: 50px 80px;
}