body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


h1 {
    font-family: "Times New Roman", Times, serif; 
    font-weight: bold;
    margin-bottom: 20px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s;
    width: 300px; 
    background-color: white;
    text-align: center;
}


.profile-img {
    width: 100%;
    height: auto;
}


.container {
    padding: 10px 16px;
}


table {
    width: 100%;
    border-collapse: collapse; 
}

td {
    border: none; 
    text-align: center; 
    padding: 5px;
}


h2 {
    margin: 0;
    font-size: 24px;
}


.social-icons i {
    color: black;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}


.contact-btn {
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: black; 
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


.contact-btn:hover {
    opacity: 0.8;
}