button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(248, 248, 248);
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}
button:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}