body {
        margin: 0;
        padding: 0;
    }
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    width: 50%;
    height: 100vh;
    vertical-align: middle;
}
#First {
    background-color: rgb(255, 70, 70);
}
#Second {
    background-color: rgb(149, 255, 96);
}